# JetBrains (PyCharm, WebStorm, etc.)
.idea
*.iws
.idea_modules

# Linux
*~
.directory
.Trash-*
**/packages

# OSX
.DS_Store
._*
.TemporaryItems
.Trashes

# Vagrant
.vagrant

# Git
.git
.gitignore

# Python
*.py[cod]
**/__pycache__
**/.tox
.pep8
*.egg-info
build
dist

# Test Artifacts
htmlcov
.jenkins
.coverage
.pytest_cache
tox.ini

# Logs
logs/
*.log

# Docker
Dockerfile

# Docs
**/*.md
**/*.rst
NOTICE

# Scripts
bin/ci

# Other
**/*.png
**/*.svg
examples
