# JetBrains (PyCharm, WebStorm, etc.)
.idea
*.iws
.idea_modules

# Linux
*~
.directory
.Trash-*
**/packages

# OSX
.DS_Store
._*
.TemporaryItems
.Trashes

# Vagrant
.vagrant

# Git
.git
.gitignore

# Python
*.py[cod]
**/__pycache__
**/.tox
.pep8
*.egg-info
build
dist

# Test Artifacts
results
.jenkins
.coverage
.pytest_cache
tests/testdata

# Logs
logs/
*.log

# Docker
dockerfile
Dockerfile.*

# Docs
docs
**/*.md
**/*.rst
NOTICE
proposals/

# Scripts
bin/ci

# Other
**/*.png
assets
compose
deploy
